<?xml version="1.0" encoding="UTF-8"?>
<DUT>
    <Project>
        <name>AGIGA9601-002BCA</name>
        <revision>01</revision>
        <vpd_enable>1</vpd_enable>
        <vpd_addr>0x10</vpd_addr>
        <vpd_file>crystal.ebf</vpd_file>
        <vpd_aa_bitrate>100</vpd_aa_bitrate>
        <vpd_aa_slave_address>16</vpd_aa_slave_address>
        <fw_version>V0.66</fw_version>
        <hw_version>04</hw_version>
    </Project> 
    <Project>
        <name>AGIGA8602-800BCA</name>
        <revision>11</revision>
        <vpd_enable>2</vpd_enable>
        <vpd_addr>0x10</vpd_addr>
        <vpd_file>D:/AGIGA/VPD EEPROM/AGIGA8601-400BCA/101-40035-01-Rev02-AGIGA8601-400BCA-Coronado 4GB for Diamond VPD.ebf</vpd_file>
        <vpd_aa_bitrate>100</vpd_aa_bitrate>
        <vpd_aa_slave_address>16</vpd_aa_slave_address>
        <fw_version>V0.66</fw_version>
        <hw_version>04</hw_version>
    </Project> 
</DUT>
